<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bainbridge Nursing & Rehabilitation Center</title>

    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
    
</head>
<body>

  

    <form
            class="col justify-content-end"
            action="/homes/saveHome/<%= home.id %>" method="POST"
          >
          <button type="submit">Save to Favorites</button>
          
    </form>
    <!-- <form
          class="col-1"
          action="/addFavorite/:nameId/:websiteId" method="POST"
        >
          <button class="btn btn-primary fa fa-star" type="submit">Add To Favorites</button>
    </form>
     -->
    <!-- <button>Like</button> -->

 
    <!-- Create a feature where people can share their stories about the struggles of trying 
    to find a nursing home where they live -->
</body>
</html>