<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bronx Center</title>

    
</head>
<body>

       <!-- Displaying the name of the home for this specific page -->
       <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].name == 'Bronx Center for Rehabilitation & Nursing'){%>
            <h1 class="bxcenter-heading"><%= homes[i].name %></h1>
        <%}%>
    <%}%>

    <!-- Displaying the bainbridge home address -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].address == '1010 Underhill Ave, Bronx, NY 10472'){%>
            <h2><%= homes[i].address %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the nursing home's phone number -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].phoneNumber == '718-863-6700'){%>
            <h2><%= homes[i].phoneNumber %></h2>
        <%}%>
    <%}%>
    

    <!-- Displaying the nursing home's website -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].website == 'bronx-center.facilities.centershealthcare.org'){%>
            <a href="https://bronx-center.facilities.centershealthcare.org">Website</a>
            
        <%}%>
    <%}%>
   
    <button>Like</button>
</body>
</html>