<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>
		<title>idealHomes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

        <%- include('partials/header') -%> 
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Home</h1>
                    <!-- <p class="lead fw-normal text-white-50 mb-0">Look at Other User's Stories</p> -->
                </div>
            </div>
        </header>
        
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                        </div>
                    </header>
                            <!-- Menu -->
					            <nav id="menu">
						            <h2>Menu</h2>
						                <ul>
							                <li><a href="/home">Home</a></li>
							                <li><a href="/profile">Profile</a></li>
							                <li><a href="/feed">Shared Stories</a></li>
                                            <li><a href="/logout">Logout</a></li>
						                </ul>
					            </nav>

					
                                

                               

	<!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- <header> -->
                

                <!-- <img class="home-pic" src="images/home-page-pic.jpg" alt="nursing-home-pic"> -->
                <p>
                    Below is the list of nursing homes that accept and treat patients 
                    with Dementia for those who are located in the Bronx. Feel free to get more 
                    information on each home by clicking the tiles presented.
                </p>
                
            <!-- </header> -->
            <section class="tiles">
                <!-- <header>
                

                    <img class="home-pic" src="images/home-page-pic.jpg" alt="nursing-home-pic">
                    <p>
                         Below is a list of options that you can choose from as you begin to make the decision on where you would like to 
                         have your loved one stay. You will also have the option of saving potential homes to your account so if you need to
                         come back and weigh out the pros and cons of each one you added to your list. Hope this is helpful to you and yours!
                     </p>
                    
                </header> -->
                <article class="style1">
                    <span class="image">
                        <img src="images/pic01.jpg" alt="" />
                    </span>
                    <a class="call-to-bainbridge" href="/bainbridge">
                        <h2 id="bainbridge">Bainbridge Nursing & Rehabilitation Center</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style2">
                    <span class="image">
                        <img src="images/pic02.jpg" alt="" />
                    </span>
                    <a href="/morningside">
                        <h2 id="morningside">Morningside Nursing & Rehabilitation</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="images/pic03.jpg" alt="" />
                    </span>
                    <a href="/bethAbraham">
                        <h2>Beth Abraham Health Services & Housing</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style4">
                    <span class="image">
                        <img src="images/pic04.jpg" alt="" />
                    </span>
                    <a href="/kingsharbor">
                        <h2>Kings Harbor Multicare Center</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style5">
                    <span class="image">
                        <img src="images/pic05.jpg" alt="" />
                    </span>
                    <a href="/eastchesterrehab">
                        <h2>Eastchester Rehab & Health Care Center</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style6">
                    <span class="image">
                        <img src="images/pic06.jpg" alt="" />
                    </span>
                    <a href="/universitynursing">
                        <h2>University Nursing Home</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style2">
                    <span class="image">
                        <img src="images/pic07.jpg" alt="" />
                    </span>
                    <a href="/stpatrickshome">
                        <h2>St. Patrick's Home Rehabilitation & Health Care</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="images/pic08.jpg" alt="" />
                    </span>
                    <a href="/bronxcenter">
                        <h2>Bronx Center For Rehabilitation & Nursing</h2>
                        <!-- <div class="content">
                           
                        </div> -->
                    </a>
                </article>
                <article class="style1">
                    <span class="image">
                        <img src="images/pic09.jpg" alt="" />
                    </span>
                    <a href="/williamsbridge">
                        <h2>Williamsbridge Center for Rehabilitation & Nursing</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style5">
                    <span class="image">
                        <img src="images/pic10.jpg" alt="" />
                    </span>
                    <a href="/grandmanor">
                        <h2>Grand Manor Nursing & Rehabilitation</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style6">
                    <span class="image">
                        <img src="images/pic11.jpg" alt="" />
                    </span>
                    <a href="/splitrock">
                        <h2>Split Rock Rehabilitation & Health Care Center</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
                <article class="style4">
                    <span class="image">
                        <img src="images/pic12.jpg" alt="" />
                    </span>
                    <a href="/hudsonpointe">
                        <h2>Hudson Pointe at Riverdale Center for Nursing & Rehabilitation</h2>
                        <!-- <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div> -->
                    </a>
                </article>
            </section>
            <!-- <div class="col-6 mt-5">
                <a class="btn btn-primary" href="/profile">Profile</a>
                <a class="btn btn-primary" href="/feed">Shared Stories</a>
            </div> -->
        </div>
    </div>

    <!-- <%- include('partials/footer') -%> -->

    <script src="/js/jquery.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>

