<!DOCTYPE html>
<html lang="en">
<head>
    <title>idealHome</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- FontAwesome JS-->
	<script defer src="/landing-page/assets/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/landing-page/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/landing-page/assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/landing-page/assets/css/theme-3.css">
    <!-- GitHub Button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script> 
</head> 

<body data-spy="scroll">
	
    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">                          
        <nav id="main-nav" class="main-nav navbar navbar-expand-md">
            <div class="container-fluid">
            <a class="navbar-brand logo scrollto" href="#promo">
                <span class="logo-title">idealHomes</span>
            </a>
            
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
                       
            <!-- <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul id="nav-menu" class="nav navbar-nav ms-md-auto">
                    <li class="nav-item sr-only"><a class="nav-link scrollto" href="#promo">Home</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#docs">Docs</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#license">License</a></li>                        
                    <li class="nav-item last"><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
            </div> -->
            </div>
        </nav><!--//main-nav-->
    </header><!--//header-->
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ideal<span class="highlight">Homes</span></h2>
            <p class="intro">Find the right nursing home for you</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/login">Login</a>
                <a class="btn btn-cta-primary" href="/signup">Signup</a>
            </div>
            
        </div><!--//container-->
       
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is idealHomes?</h2>
            <p class="intro text-center">
                Growing up in the Bronx and being in an environment 
                where health isn't prioritized, it can be hard to find 
                resources when you need them the most especially when it comes
                to finding nursing homes that treat people diagnosed with Dementia. 
                idealHomes is intended to do just that where all the nursing homes
                that treat Dementia patients are listed so you won't have to scour
                the internet. idealHomes will also give you the ability to share your
                own story and possibly relate to other people who have hard
                a hard time finding the right home for their own circumstances.
            </p>

           
        </div>
    </section>
    
 
    
    <!-- ******LICENSE****** --> 
    <!-- <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>This Bootstrap theme is made by UX/UI designer <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a> at 3rd Wave Media for developers and is <strong>100% FREE</strong> as long as you keep the footer attribution link.</p>
                    <p><strong>[Tip for developers]:</strong> If your project is open source, you might want to put a <a href="https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside" target="_blank">PayPal "Donate" button</a> below so your users can express their gratitude. If your project is commercial, you can put a <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_singleitem-intro-outside" target="_blank">PayPal "Buy Now" button</a> instead.</p>
                </div>
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you want to <strong>use this template without the footer attribution link</strong>, you can <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devaid-free-bootstrap-theme-for-developers-side-projects/" target="_blank">buy the commercial license</a> via my website. Thank you for your support!</p>
                        <div class="icon-holder  text-center"><i class="far fa-smile"></i></div>
                    </div>
                    <div class="btn-container  text-center">
                        <a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devaid-free-bootstrap-theme-for-developers-side-projects/" target="_blank">Buy Commercial License</a>                   
                    </div>
                </div>
            </div>
        </div>
    </section> -->
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">&copy; Brendon Wright. All rights reserved. Designed by</span> Xiaoying Riley</small>
        </div><!--//container-->
    </footer><!--//footer-->

     
    <!-- Javascript -->          
    <script src="/landing-page/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/landing-page/assets/plugins/prism/prism.js"></script>    
    <script src="/landing-page/assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
    <script src="/landing-page/assets/js/main.js"></script>  
    
        
</body>
</html> 



