<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morningside Nursing & Rehabilitation</title>

    <!-- <link rel="stylesheet" href="/assets/css/homeStyle.css"> -->
</head>
<body>

    <!-- Displaying the name of the home for this specific page -->
    
    <% for (let i=0; i<names.length; i++){ %>
        <% if (names[i] == 'Morningside Nursing & Rehabilitation'){ %>
            <h1><% names[i] %></h1>

        <%}%>
    <%}%>
       
    



    <button type="submit">Like</button>
</body>
</html>