<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Manor Nursing & Rehabilitation</title>

    <link rel="stylesheet" href="/assets/css/homeStyle.css">
</head>
<body>


     <!-- Displaying the name of the home for this specific page -->
     <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].name == 'Grand Manor Nursing & Rehabilitation'){%>
            <h1 class="kings-heading"><%= homes[i].name %></h1>
        <%}%>
    <%}%>

    <!-- Displaying the bainbridge home address -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].address == '700 White Plains Rd., Bronx, NY 10473'){%>
            <h2><%= homes[i].address %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the nursing home's phone number -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].phoneNumber == '718-518-8892'){%>
            <h2><%= homes[i].phoneNumber %></h2>
        <%}%>
    <%}%>
    

    <!-- Displaying the nursing home's website -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].website == 'grandmanor.org'){%>
            <a href="https://grandmanor.org">Website</a>
            
        <%}%>
    <%}%>
    <img src="" alt="photo-of-home">
</body>
</html>