<!-- This is the signup page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <!-- add a form for user data to be placed in database -->
    <form action="/signup" method="POST">
        <input type="text" placeholder="E-mail" name="userEmail">
        <input type="text" placeholder="Password" name="userPassword">


        <button id="signup" type="submit">Signup</button>
    </form>

    

</body>
</html>